@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

body {
	font-family: "Yusei Magic", sans-serif;
	padding: 20px 60px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: green;
}
